{
  "extends":[
    "stylelint-config-standard",
    "stylelint-config-css-modules"
  ],
  "rules":{
    "property-case":null,
    "at-rule-no-unknown":[
      true,
      {
        "ignoreAtRules":[
          "include"
        ]
      }
    ]
  },
  "ignoreFiles":[
    "build/**/*",
    "public/**/*",
    "node_modules"
  ]
}