.suggestions-list-container {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  background-color: white;
  top: calc(#{$space-100} + #{$space-010});
  border: 1px solid $color-dark-grey;
}

.suggestions-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.active {
  display: block;
}
