.location-page-container {
  background-color: $color-blue;
  min-height: 70vh;
}

.location-select-container {
  background-color: $color-yellow;
  margin: 0 $space-060;
  padding: $space-060;
  display: flex;
  flex-direction: column;
}

.title {
  color: $color-white;
  text-align: center;
  font-size: $font-060;
}
